<section class="about-me-section" id="about-me-section-id">
  <div class="about-me container">
    <h2 class="about-me-title">About me</h2>
    <div class="flex-container">
      <div class="about-me-bg-text">
        <p class="about-me-text">
          I work with people all over the world to create impressive and
          <span class="about-me-red">functional</span>
          <span class="about-me-grey">websites</span> that reflect each client's
          unique personality.
        </p>
      </div>

      <img
        class="about-me-foto"
        srcset="
          ./img/mobil/m-about-me-main-photo.jpg       343w,
          ./img/tablet/t-about-me-main-photo.jpg      704w,
          ./img/desktop/d-about-me-main-photo.jpg     680w,
          ./img/mobil/m-about-me-main-photo@2x.jpg    686w,
          ./img/tablet/t-about-me-main-photo@2x.jpg  1414w,
          ./img/desktop/d-about-me-main-photo@2x.jpg 1360w
        "
        sizes="(max-width: 375px) 343px, (min-width: 768px) 704px, (min-width: 1440px) 680px"
        src="./img/mobil/m-about-me-main-photo.jpg"
        alt="my photo"
      />
    </div>

    <!-- ---------------------ACCORDION-------------- -->
    <div>
      <ul class="accordion-container-about">
        <li class="about-me-summary underline ac">
          <h3 class="about-me-summary-title ac-header">
            About me
            <button class="about-me-button-down ac-trigger" type="button">
              <svg class="about-me-svg">
                <use href="./icons/sprite.svg#arrow-down"></use>
              </svg>
            </button>
          </h3>

          <div class="about-me-summary-description about-me-outline ac-panel">
            <p class="about-me-summary-text about-me-summary-indent">
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages ​​and technologies, always ready
              to improve my skills. I always follow the latest trends and look
              for unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way.
            </p>
            <p class="about-me-summary-text">
              Able to work both independently and in a team. I can effectively
              cooperate with colleagues, exchanging ideas and finding optimal
              solutions. Professional maturity allows you to calmly cope with
              challenges and stressful situations, while maintaining a high
              quality of work.I am always looking for opportunities for
              self-improvement. I actively study new technologies and practices
              to stay abreast of the latest innovations. I have a strong
              understanding of various programming languages, frameworks and
              architectural concepts that allow me to create efficient and
              scalable software.
            </p>
          </div>
        </li>
        <li class="about-me-expirience underline ac">
          <h3 class="about-me-expirience-title ac-header">
            Role
            <button class="about-me-button-down ac-trigger">
              <svg class="about-me-svg">
                <use href="./icons/sprite.svg#arrow-down"></use>
              </svg>
            </button>
          </h3>

          <ul class="about-me-expirience-list about-me-outline ac-panel">
            <li class="about-me-expirience-list-item">Frontend development</li>
            <li class="about-me-expirience-list-item">HeadlessCMS,Wordpress</li>
            <li class="about-me-expirience-list-item">Blender(enjoy)</li>
          </ul>
        </li>
        <li class="about-me-education underline ac">
          <h3 class="about-me-education-title ac-haeder">
            Education
            <button class="about-me-button-down ac-trigger">
              <svg class="about-me-svg">
                <use href="./icons/sprite.svg#arrow-down"></use>
              </svg>
            </button>
          </h3>

          <ul class="about-me-education-list about-me-outline ac-panel">
            <li class="about-me-education-list-item">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </li>
            <li class="about-me-education-list-item">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </li>
            <li class="about-me-education-list-item">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- ---------------------SWIPER----------------- -->
    <div class="about-me-skills-wrapper">
      <div class="swiper swiper-about">
        <ul class="about-me-skills swiper-wrapper">
          <li class="about-me-skills-item swiper-slide">HTML/CSS</li>
          <li class="about-me-skills-item swiper-slide">JavaScript</li>
          <li class="about-me-skills-item swiper-slide">React</li>
          <li class="about-me-skills-item swiper-slide">Node. js</li>
          <li class="about-me-skills-item swiper-slide">React Native</li>
          <li class="about-me-skills-item swiper-slide">Vue.js</li>
          <li class="about-me-skills-item swiper-slide">Soft skills</li>
        </ul>
      </div>
      <button
        class="about-me-skills-button swiper-button-next"
        id="about-me-skills-button"
        type="button"
      >
        <svg class="about-me-skills-svg">
          <use href="./icons/sprite.svg#arrow-right2"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
