<section class="benefits-section" id="benefits-section-id">
    <div class="benefits container">
        <h2 class="benefits-title">Benefits of working with me</h2>
        
        <div class="benefits-container">
        <ul class="benefits-list">
            <li class="benefits-list-item">
                <svg class="img-benefits-item" id="user-01-svg" width="24" height="24px"> 
                <use href="./icons/sprite.svg#user"></use>
                </svg>
            
                <h3 class="benefits-title-h3">Expertise</h3>
                <p class="benefits-title-p">As a highly experienced developer, I have deep knowledge of programming and website development.</p>
            </li>
            
            <li class="benefits-list-item">
                <svg class="img-benefits-item" id="message-svg" width="24" height="24px">
                    <use href="./icons/sprite.svg#message"></use>
                </svg>
                
                <h3 class="benefits-title-h3">Communication</h3>
                <p class="benefits-title-p">Understanding your needs and wants is my priority and I am always open to discussions and corrections.</p>
            </li>

            <li class="benefits-list-item">
                <svg class="img-benefits-item" id="brush-svg" width="24" height="24px">
                    <use href="./icons/sprite.svg#brush"></use>
                </svg>
                
                <h3 class="benefits-title-h3">Art</h3>
                <p class="benefits-title-p">Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life.</p>
            </li>

            <li class="benefits-list-item">
                <svg class="img-benefits-item" id="hourglass-svg" width="24" height="24px">
                    <use href="./icons/sprite.svg#hourglass"></use>
                </svg>
                
                <h3 class="benefits-title-h3">Urgent execution</h3>
                <p class="benefits-title-p">I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work.</p>
            </li>
        </ul>

        <!-- <button type="button" class="benefits-button">Order the project</button> -->
        <a href="#work-together-section-id" class="benefits-button">Order the project</a>
        </div>
    </div>
</section>