<section class="covers-section" id="covers-section">
<div class="covers container">
    <h2 class="visually-hidden">Covers</h2>
    <link href="https://fonts.googleapis.com/css?family=Pridi:600" rel="stylesheet">

<div class="content">
  <div class="marquee">
  <div class="marquee__inner" id="randomize-container">
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/first%20screen%201    282w,
                  ./img/project-card/first%20screen%201@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="starlight-studio-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%204    282w,
                  ./img/project-card/Rectangle%204@2x.jpg 544w 
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="fitness-studio-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%205    282w,
                  ./img/project-card/Rectangle%205@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="fruit-box-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%206    282w,
                  ./img/project-card/Rectangle%206@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="beauty-studio-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%207    282w,
                  ./img/project-card/Rectangle%207@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="mimino-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%208    282w,
                  ./img/project-card/Rectangle%208@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="vushuvanka-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%209    282w,
                  ./img/project-card/Rectangle%209@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="green-harvest-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%2010    282w,
                  ./img/project-card/Rectangle%2010@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="power-pulse-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%2011    282w,
                  ./img/project-card/Rectangle%2011@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="wallet-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%2012    282w,
                  ./img/project-card/Rectangle%2012@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="language-school-project"
                width="282"
              />
            </picture>
        </li>
  </div>
  <div class="marquee__inner" id="randomize-container">
    <li class="marquee__line">
        <picture class="project-img">
        <img
            srcset="
              ./img/project-card/Rectangle%2011    282w,
              ./img/project-card/Rectangle%2011@2x.jpg 544w
            "
            sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
            
            alt="wallet-project"
            width="282"
          />
        </picture>
    </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%204    282w,
                  ./img/project-card/Rectangle%204@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="fitness-studio-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%205    282w,
                  ./img/project-card/Rectangle%205@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="fruit-box-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%206    282w,
                  ./img/project-card/Rectangle%206@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="beauty-studio-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%207    282w,
                  ./img/project-card/Rectangle%207@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="mimino-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%208    282w,
                  ./img/project-card/Rectangle%208@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="vushuvanka-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%209    282w,
                  ./img/project-card/Rectangle%209@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="green-harvest-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%2010    282w,
                  ./img/project-card/Rectangle%2010@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="power-pulse-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%204    282w,
                  ./img/project-card/Rectangle%204@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="fitness-studio-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%2012    282w,
                  ./img/project-card/Rectangle%2012@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="language-school-project"
                width="282"
              />
            </picture>
        </li>
  </div>
  <div class="marquee__inner" id="randomize-container">
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/first%20screen%201    282w,
                  ./img/project-card/first%20screen%201@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="starlight-studio-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%204    282w,
                  ./img/project-card/Rectangle%204@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
               
                alt="fitness-studio-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%205    282w,
                  ./img/project-card/Rectangle%205@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="fruit-box-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%206    282w,
                  ./img/project-card/Rectangle%206@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="beauty-studio-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%207    282w,
                  ./img/project-card/Rectangle%207@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="mimino-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%208    282w,
                  ./img/project-card/Rectangle%208@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="vushuvanka-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%209    282w,
                  ./img/project-card/Rectangle%209@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="green-harvest-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%2010    282w,
                  ./img/project-card/Rectangle%2010@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="power-pulse-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%2011    282w,
                  ./img/project-card/Rectangle%2011@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
                
                alt="wallet-project"
                width="282"
              />
            </picture>
        </li>
        <li class="marquee__line">
            <picture class="project-img">
            <img
                srcset="
                  ./img/project-card/Rectangle%2012    282w,
                  ./img/project-card/Rectangle%2012@2x.jpg 544w
                "
                sizes="(min-width: 1440px) 544px, (min-width: 768px) 544px, (max-width: 767px) 282px"
               
                alt="language-school-project"
                width="282"
              />
            </picture>
        </li>
  </div>
</div>
</div> 
</div>
</section>   