<section class="covers-section">
<div class="covers container">
<h2 class="visually-hidden">Covers</h2>

<div class="content">
<ul class="marquee">
<li class="marquee__inner">
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-9.jpg 1x,
        ./img/project-card/project-9@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-9.jpg" alt="project" loading="lazy" />
      </picture>

</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-5.jpg 1x,
        ./img/project-card/project-5@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-5.jpg" alt="project" loading="lazy" />
      </picture>

</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-2.jpg 1x,
        ./img/project-card/project-2@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-2.jpg" alt="project" loading="lazy" />
      </picture>
</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-3.jpg 1x,
        ./img/project-card/project-3@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-3.jpg" alt="project" loading="lazy" />
      </picture>
</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-4.jpg 1x,
        ./img/project-card/project-4@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-4.jpg" alt="project" loading="lazy" />
      </picture>

</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-5.jpg 1x,
        ./img/project-card/project-5@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-5.jpg" alt="project" loading="lazy" />
      </picture>

</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-6.jpg 1x,
        ./img/project-card/project-6@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-6.jpg" alt="project" loading="lazy" />
      </picture>

</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-7.jpg 1x,
        ./img/project-card/project-7@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-7.jpg" alt="project" loading="lazy" />
      </picture>

</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-8.jpg 1x,
        ./img/project-card/project-8@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-8.jpg" alt="project" loading="lazy" />
      </picture>

</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-9.jpg 1x,
        ./img/project-card/project-9@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-9.jpg" alt="project" loading="lazy" />
      </picture>
</a>
</li>
<li class="marquee__inner">
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-10.jpg 1x,
        ./img/project-card/project-10@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-10.jpg" alt="project" loading="lazy" />
      </picture>
</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-4.jpg 1x,
        ./img/project-card/project-4@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-4.jpg" alt="project" loading="lazy" />
      </picture>
</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-5.jpg 1x,
        ./img/project-card/project-5@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-5.jpg" alt="project" loading="lazy" />
      </picture>

</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-6.jpg 1x,
        ./img/project-card/project-6@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-6.jpg" alt="project" loading="lazy" />
      </picture>
</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-7.jpg 1x,
        ./img/project-card/project-7@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-7.jpg" alt="project" loading="lazy" />
      </picture>

</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-8.jpg 1x,
        ./img/project-card/project-8@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-8.jpg" alt="project" loading="lazy" />
      </picture>
</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-9.jpg 1x,
        ./img/project-card/project-9@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-9.jpg" alt="project" loading="lazy" />
      </picture>
</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-10.jpg 1x,
        ./img/project-card/project-10@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-10.jpg" alt="project" loading="lazy" />
      </picture>
</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-1.jpg 1x,
        ./img/project-card/project-1@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-1.jpg" alt="project" loading="lazy" />
      </picture>

</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-2.jpg 1x,
        ./img/project-card/project-2@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-2.jpg" alt="project" loading="lazy" />
      </picture>
</a>
</li>
<li class="marquee__inner">
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-3.jpg 1x,
        ./img/project-card/project-3@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-3.jpg" alt="project" loading="lazy" />
      </picture>
</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-8.jpg 1x,
        ./img/project-card/project-8@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-8.jpg" alt="project" loading="lazy" />
      </picture>
</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-9.jpg 1x,
        ./img/project-card/project-9@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-9.jpg" alt="project" loading="lazy" />
      </picture>
</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-10.jpg 1x,
        ./img/project-card/project-10@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-10.jpg" alt="project" loading="lazy" />
      </picture>
</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-1.jpg 1x,
        ./img/project-card/project-1@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-1.jpg" alt="project" loading="lazy" />
      </picture>
</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-2.jpg 1x,
        ./img/project-card/project-2@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-2.jpg" alt="project" loading="lazy" />
      </picture>

</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-2.jpg 1x,
        ./img/project-card/project-2@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-2.jpg" alt="project" loading="lazy" />
      </picture>
</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-3.jpg 1x,
        ./img/project-card/project-3@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-3.jpg" alt="project" loading="lazy" />
      </picture>
</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-4.jpg 1x,
        ./img/project-card/project-4@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-4.jpg" alt="project" loading="lazy" />
      </picture>
</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-5.jpg 1x,
        ./img/project-card/project-5@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-5.jpg" alt="project" loading="lazy" />
      </picture>
</a>
</li>
<li class="marquee__inner">
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-6.jpg 1x,
        ./img/project-card/project-6@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-6.jpg" alt="project" loading="lazy" />
      </picture>

</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-7.jpg 1x,
        ./img/project-card/project-7@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-7.jpg" alt="project" loading="lazy" />
      </picture>
</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-8.jpg 1x,
        ./img/project-card/project-8@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-8.jpg" alt="project" loading="lazy" />
      </picture>
</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-9.jpg 1x,
        ./img/project-card/project-9@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-9.jpg" alt="project" loading="lazy" />
      </picture>

</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-10.jpg 1x,
        ./img/project-card/project-10@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-10.jpg" alt="project" loading="lazy" />
      </picture>

</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-4.jpg 1x,
        ./img/project-card/project-4@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-4.jpg" alt="project" loading="lazy" />
      </picture>

</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-5.jpg 1x,
        ./img/project-card/project-5@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-5.jpg" alt="project" loading="lazy" />
      </picture>
</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-6.jpg 1x,
        ./img/project-card/project-6@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-6.jpg" alt="project" loading="lazy" />
      </picture>

</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-7.jpg 1x,
        ./img/project-card/project-7@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-7.jpg" alt="project" loading="lazy" />
      </picture>

</a>
<a href="https://goit.global/ua/" target="_blank">
    <picture class="covers-img marquee__line">
        <source media="(min-width:320px)" srcset="
        ./img/project-card/project-8.jpg 1x,
        ./img/project-card/project-8@2x.jpg 2x
        " type="image/jpg" />
        
        <img class="cowers-img" src="./img/project-card/project-8.jpg" alt="project" loading="lazy" />
      </picture>
</a>
</li>
</ul>
</div>
</div>
</section>
