<section class="faq-section" id="faq-section-id">
  <div class="faq-container container">
    <h2 class="faq-title">FAQ</h2>
    <ul class="faq-list accordion-container-faq">
      <li class="faq-list-item ac">
        <h3 class="faq-question">
          What programming languages are most often used in your project?
        </h3>
        <button type="button" class="faq-show-hidden-text-button ac-trigger">
          <svg class="faq-button-icon" width="20" height="20">
            <use href="./icons/sprite.svg#arrow-down"></use>
          </svg>
        </button>
        <!-- кнопка буде вирывнюватись на абсолютах -->

        <!-- цей текст буде приховний і буде з'явлтися при натисканні на кнопку -->
        <div class="ac-panel">
          <p class="faq-answer">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-list-item ac">
        <h3 class="faq-question">What are the deadlines for the project?</h3>
        <button type="button" class="faq-show-hidden-text-button ac-trigger">
          <svg class="faq-button-icon" width="20" height="20">
            <use href="./icons/sprite.svg#arrow-down"></use>
          </svg>
        </button>

        <!-- цей текст буде приховний і буде з'явлтися при натисканні на кнопку -->
        <div class="ac-panel">
          <p class="faq-answer">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-list-item ac">
        <h3 class="faq-question">What payment methods do you accept?</h3>
        <button type="button" class="faq-show-hidden-text-button ac-trigger">
          <svg class="faq-button-icon" width="20" height="20">
            <use href="./icons/sprite.svg#arrow-down"></use>
          </svg>
        </button>

        <!-- цей текст буде приховний і буде з'явлтися при натисканні на кнопку -->
        <div class="ac-panel">
          <p class="faq-answer">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-list-item ac">
        <h3 class="faq-question">How can I contact you?</h3>
        <button type="button" class="faq-show-hidden-text-button ac-trigger">
          <svg class="faq-button-icon" width="20" height="20">
            <use href="./icons/sprite.svg#arrow-down"></use>
          </svg>
        </button>

        <!-- цей текст буде приховний і буде з'явлтися при натисканні на кнопку -->
        <div class="ac-panel">
          <p class="faq-answer">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-list-item ac">
        <h3 class="faq-question">Do you provide advice or support?</h3>
        <button type="button" class="faq-show-hidden-text-button ac-trigger">
          <svg class="faq-button-icon" width="20" height="20">
            <use href="./icons/sprite.svg#arrow-down"></use>
          </svg>
        </button>

        <!-- цей текст буде приховний і буде з'явлтися при натисканні на кнопку -->
        <div class="ac-panel">
          <p class="faq-answer">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-list-item ac">
        <h3 class="faq-question">
          What does the process of developing a software product look like from
          idea to implementation?
        </h3>
        <button type="button" class="faq-show-hidden-text-button ac-trigger">
          <svg class="faq-button-icon" width="20" height="20">
            <use href="./icons/sprite.svg#arrow-down"></use>
          </svg>
        </button>

        <!-- цей текст буде приховний і буде з'явлтися при натисканні на кнопку -->
        <div class="ac-panel">
          <p class="faq-answer">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
