<section class="faq-section" id="faq-section">
  <h2 class="faq-title">FAQ</h2>
  <div class="faq-container">
    <ul class="faq-list">
      <li class="faq-list-item">
        <div class="faq-item-container">
          <h3 class="faq-question">
            What programming languages are most often used in your project?
          </h3>
          <!-- кнопка буде вирывнюватись на абсолютах -->
          <button type="button" class="faq-show-hidden-text-button">
            <svg class="faq-button-icon" width="20" height="20">
              <use href="../icons/sprite.svg#arrow-down"></use>
            </svg>
          </button>
          <!-- цей текст буде приховний і буде з'явлтися при натисканні на кнопку -->
          <p class="faq-answer">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-list-item">
        <div class="faq-item-container">
          <h3 class="faq-question">What are the deadlines for the project?</h3>
          <button type="button" class="faq-show-hidden-text-button">
            <svg class="faq-button-icon" width="20" height="20">
              <use href="../icons/sprite.svg#arrow-down"></use>
            </svg>
          </button>
          <!-- цей текст буде приховний і буде з'явлтися при натисканні на кнопку -->
          <p class="faq-answer">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="faq-list-item">
        <div class="faq-item-container">
          <h3 class="faq-question">What payment methods do you accept?</h3>
          <button type="button" class="faq-show-hidden-text-button">
            <svg class="faq-button-icon" width="20" height="20">
              <use href="../icons/sprite.svg#arrow-down"></use>
            </svg>
          </button>
          <!-- цей текст буде приховний і буде з'явлтися при натисканні на кнопку -->
          <p class="faq-answer">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <li class="faq-list-item">
        <div class="faq-item-container">
          <h3 class="faq-question">How can I contact you?</h3>
          <button type="button" class="faq-show-hidden-text-button">
            <svg class="faq-button-icon" width="20" height="20">
              <use href="../icons/sprite.svg#arrow-down"></use>
            </svg>
          </button>
          <!-- цей текст буде приховний і буде з'явлтися при натисканні на кнопку -->
          <p class="faq-answer">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-list-item">
        <div class="faq-item-container">
          <h3 class="faq-question">Do you provide advice or support?</h3>
          <button type="button" class="faq-show-hidden-text-button">
            <svg class="faq-button-icon" width="20" height="20">
              <use href="../icons/sprite.svg#arrow-down"></use>
            </svg>
          </button>
          <!-- цей текст буде приховний і буде з'явлтися при натисканні на кнопку -->
          <p class="faq-answer">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="faq-list-item">
        <div class="faq-item-container">
          <h3 class="faq-question">
            What does the process of developing a software product look like
            from idea to implementation?
          </h3>
          <button type="button" class="faq-show-hidden-text-button">
            <svg class="faq-button-icon" width="20" height="20">
              <use href="../icons/sprite.svg#arrow-down"></use>
            </svg>
          </button>
          <!-- цей текст буде приховний і буде з'явлтися при натисканні на кнопку -->
          <p class="faq-answer">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
