<header class="header-section" id="header-section">
        <div class="header__container">
            <div class="header__logo">
                <div class="logo__image">
                    <img class="header_logo_pic"
        srcset="
          ./img/mobil/m-header-logo.jpg         343w,
          ./img/tablet/t-header-logo-pic.jpg     704w,
          ./img/desktop/d-header-logo-pic.jpg     680w,
          ./img/mobil/m-header-logo@2x.jpg    686w,
          ./img/tablet/t-header-logo-pic@2x.jpg   1414w,
          ./img/desktop/d-header-logo-pic@2x.jpg  1360w
        "
        sizes="(max-width: 375px) 343px, (min-width: 768px) 704px, (min-width: 1440px) 680px"
        src="./img/mobil/m-header-logo.jpg"
        alt="my photo"
      />>
                </div>
                <p class="logo__text">jefferson*</p>
            </div>
            <div class="header__burger">
                <div class="borger">
                    <span class="burger__item"></span>
                    <span class="burger__item"></span>
                </div>
            </div>
            <div class="navigation__menu">
                <nav class="header__menu">
                    <a class="menu__title" href="#">Menu</a>
                    <ul class="menu__list">
                        <li class="list__item">
                            <a href="" class="item__link">About me</a>
                        </li>
                        <li class="list__item">
                            <a href="" class="item__link">Benefits</a>
                        </li>
                        <li class="list__item">
                            <a href="" class="item__link">Projects</a>
                        </li>
                        <li class="list__item">
                            <a href="" class="item__link">FAQ</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__button">
                    <button class="button">Order the project</button>
                </div>
            </div>
        </div>
    </header>
</body>
</html>
