<section class="hero-section" id="hero-section">
    <div class="hero container">
        <h1 class="main-title">
            Hello. <br>
            I’m Fullstack developer
            Lloyd Jefferson.
        </h1>
<div class="hero-contact">
        <ul class="contact-icon">
            <li class="social-icon">
                <a href="https://www.instagram.com/goitclub/" class="social-icon-item">
                    IG
                </a>
            </li>
            <li class="social-icon">
                <a href="https://www.facebook.com/goITclub/" class="social-icon-item">
                    FB
                </a>
            </li>
            <li class="social-icon">
                <a href="https://www.youtube.com/c/GoIT" class="social-icon-item">
                    YT
                </a>
            </li>
            <li class="social-icon">
                <a href="https://oleksiybodnia.github.io/project-5/" class="social-icon-item">
                    GH
                </a>
            </li>
            
        </ul>
        <address class="hero-e-mail">
            <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
        </address>
</div>
    </div>
</section>