<section class="projects-section" id="projects-section-id">
  <div class="projects container">
    <h2 class="projest-main-header">Projects</h2>
    <div class="swiper-container swiper swiper1">
      <ul class="projects-list swiper-wrapper">
        <li class="project-item swiper-slide" id="project-item-id">
          <div class="left-side">
            <ul class="tech-skills-list">
              <li class="tech-skill-item">#react</li>
              <li class="tech-skill-item">#js</li>
              <li class="tech-skill-item">#node js</li>
              <li class="tech-skill-item">#git</li>
            </ul>
            <h2 class="projest-header">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h2>
            <a
              href="https://oleksiybodnia.github.io/project-5/"
              class="project-link"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="right-side">
            <picture class="project-img">
              <source
                media="(min-width:1440px)"
                srcset="
                  ./img/desktop/d-project-1.jpg    1x,
                  ./img/desktop/d-project-1@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width:768px)"
                srcset="
                  ./img/tablet/t-project-1.jpg    1x,
                  ./img/tablet/t-project-1@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width:767px)"
                srcset="
                  ./img/mobil/m-project-1.jpg    1x,
                  ./img/mobil/m-project-1@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="img"
                src="../img/mobil/m-projects-1.jpg"
                alt="project"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <li class="project-item swiper-slide" id="project-item-id2">
          <div class="left-side">
            <ul class="tech-skills-list">
              <li class="tech-skill-item">#react</li>
              <li class="tech-skill-item">#js</li>
              <li class="tech-skill-item">#node js</li>
              <li class="tech-skill-item">#git</li>
            </ul>
            <h2 class="projest-header">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h2>
            <a
              href="https://oleksiybodnia.github.io/project-5/"
              class="project-link"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="right-side">
            <picture class="project-img">
              <source
                media="(min-width:1440px)"
                srcset="
                  ./img/desktop/d-project-2.jpg    1x,
                  ./img/desktop/d-project-2@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width:768px)"
                srcset="
                  ./img/tablet/t-project-2.jpg    1x,
                  ./img/tablet/t-project-2@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width:767px)"
                srcset="
                  ./img/mobil/m-project-2.jpg    1x,
                  ./img/mobil/m-project-2@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="img"
                src="../img/mobil/m-projects-2.jpg"
                alt="project"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <li class="project-item swiper-slide" id="project-item-id3">
          <div class="left-side">
            <ul class="tech-skills-list">
              <li class="tech-skill-item">#react</li>
              <li class="tech-skill-item">#js</li>
              <li class="tech-skill-item">#node js</li>
              <li class="tech-skill-item">#git</li>
            </ul>
            <h2 class="projest-header">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h2>
            <a
              href="https://oleksiybodnia.github.io/project-5/"
              class="project-link"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="right-side">
            <picture class="project-img">
              <source
                media="(min-width:1440px)"
                srcset="
                  ./img/desktop/d-project-3.jpg    1x,
                  ./img/desktop/d-project-3@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width:768px)"
                srcset="
                  ./img/tablet/t-project-3.jpg    1x,
                  ./img/tablet/t-project-3@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width:767px)"
                srcset="
                  ./img/mobil/m-project-3.jpg    1x,
                  ./img/mobil/m-project-3@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="img"
                src="./img/mobil/m-projects-3.jpg"
                alt="project"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>
    <div class="btn-div" id="btn-div-id">
      <button class="left-btn1 swiper-button-prev" id="left-btn">
        <svg class="arrow-btn-svg" width="24" height="24px">
          <use href="./icons/sprite.svg#arrow-left"></use>
        </svg>
      </button>
      <button class="right-btn1 swiper-button-next" id="right-btn">
        <svg class="arrow-btn-svg" width="24" height="24px">
          <use href="./icons/sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>