<section class="reviews-section" id="reviews-section">
    <div class="reviews container">
        <h2 class="reviews-header">REVIEWS</h2>
        <div class="swiper-container swiper2 swiper">
        <ul class="reviews-list swiper-wrapper">
            <li class="reviews-item swiper-slide" id="reviews-item-id">
                
                <picture class="reviews">
                    <source media="(min-width:1440px)" srcset="
                            ./img/desktop/d-reviews-natalia.jpg 1x,
                            ./img/desktop/d-reviews-natalia@2x.jpg 2x
                            " type="image/jpg" />
                    <source media="(min-width:768px)" srcset="
                            ./img/tablet/t-reviews-natalia.jpg 1x,
                            ./img/tablet/t-reviews-natalia@2x.jpg 2x
                            " type="image/jpg" />
                    <source media="(max-width:767px)" srcset="
                            ./img/mobil/m-reviews-natalia.jpg 1x,
                            ./img/mobil/m-reviews-natalia.jpg 2x
                            " type="image/jpg" />
                    <img class="img-reviews" src="../img/mobil/m-reviews-natalia.jpg" alt="reviews" loading="lazy" width="48" height="48"/>
                </picture>
              
                <h3 class="reviews-head">Natalia</h3>
                <p class="reviews-text">Work with was extraordinary! He turned out to be a very competent and responsible specialist. 
                  The projects were completed on time and the result exceeded my expectations</p>
              
            </li>
            <li class="reviews-item swiper-slide">
                <picture class="reviews">
                    <source media="(min-width:1440px)" srcset="
                            ./img/desktop/d-reviews-dmytro.jpg 1x,
                            ./img/desktop/d-reviews-dmytro@2x.jpg 2x
                            " type="image/jpg" />
                    <source media="(min-width:768px)" srcset="
                            ./img/tablet/t-reviews-dmytro.jpg 1x,
                            ./img/tablet/t-reviews-dmytro@2x.jpg 2x
                            " type="image/jpg" />
                    <source media="(max-width:767px)" srcset="
                            ./img/mobil/m-reviews-dmytro.jpg 1x,
                            ./img/mobil/m-reviews-dmytro.jpg 2x
                            " type="image/jpg" />
                    <img class="img-reviews" src="../img/tablet/m-reviews-dmytro.jpg" alt="reviews" loading="lazy" width="48" height="48"/>
                </picture>
              
                <h3 class="reviews-head">Dmytro</h3>
                <p class="reviews-text">I have the honor to recommend him as an exceptional professional in his field.
                   His knowledge and expertise are undeniable. Cooperation with him always brings impressive results.</p> 
               
            </li>
            <li class="reviews-item swiper-slide">
                <picture class="reviews">
                    <source media="(min-width:1440px)" srcset="
                            ./img/desktop/d-reviews-anna.jpg 1x,
                            ./img/desktop/d-reviews-anna@2x.jpg 2x
                            " type="image/jpg" />
                    
                    
                    <img class="img-reviews" src="../img/desktop/d-reviews-anna.jpg" alt="reviews" loading="lazy" width="48" height="48"/>
                </picture>
              
                <h3 class="reviews-head">Anna</h3>
                <p class="reviews-text">The developed project impresses with its quality and efficiency. 
                  The code is cleanly written and the functionality exceeds expectations. Extremely satisfied with the cooperation!</p>
               
            </li>
            <li class="reviews-item swiper-slide">
                <picture class="reviews">
                    <source media="(min-width:1440px)" srcset="
                            ./img/desktop/d-reviews-ivetta.jpg 1x,
                            ./img/desktop/d-reviews-ivetta@2x.jpg 2x
                            " type="image/jpg" />
                    
                    
                    <img class="img-reviews" src="../img/desktop/d-reviews-ivetta.jpg" alt="reviews" loading="lazy" width="48" height="48"/>
                </picture>
              
                <h3 class="reviews-head">Ivetta</h3>
                <p class="reviews-text">Thanks for the excellent work on the project! His talent and professionalism deserve recognition. 
                  I recommend it to everyone who is looking for an expert in the field of software development.</p>  
              
            </li>
        </ul>
    </div>
        <div class="btn-div" id="btn-div">
            <button class="left-btn2 swiper-button-prev" id="left-btn"><svg class="arrow-btn-svg" id="rrow-btn-svg" width="24" height="24px">
                <use href="./icons/sprite.svg#arrow-left"></use>
            </svg></button>
            <button class="right-btn2 swiper-button-next" id="right-btn"><svg class="arrow-btn-svg" width="24" height="24px">
                <use href="./icons/sprite.svg#arrow-right"></use>
            </svg></button>
        </div>
    </div>
</section>
