<section class="reviews-section" id="reviews-section-id">
    <div class="reviews container">
        <h2 class="reviews-header">REVIEWS</h2>
        <div class="swiper-container swiper2 swiper">
            <h2 class="not-found visually-hidden">Not found</h2>
        <ul class="reviews-list swiper-wrapper">
        </ul>
        </div>
        <div class="btn-div" id="btn-div-id2">
            <button class="left-btn2 swiper-button-prev" id="left-btn2"><svg class="arrow-btn-svg" width="24" height="24px">
                <use href="./icons/sprite.svg#arrow-left"></use>
            </svg></button>
            <button class="right-btn2 swiper-button-next" id="right-btn2"><svg class="arrow-btn-svg" width="24" height="24px">
                <use href="./icons/sprite.svg#arrow-right"></use>
            </svg></button>
        </div>
    </div>
</section>
