<section class="work-together-section" id="work-together-section-id">
    <div class="work-together container">
<!-- шапка розділу з іконкою та закликом -->
        <h2 class="work-together-header">
            <span class="work-together-list-of-header">
                <span class="work-together-first-line-of-header">
                    <!-- підвантаження іконки під різні ретіна-екрани -->
                    <picture class="work-together-owner-photo">
                        <source media="(min-width:1440px)" 
                            srcset="./img/desktop/d-work-together-icon.jpg 1x,
                            ./img/desktop/d-work-together-icon@2x.jpg 2x" 
                            type="image/jpg" />
                        <source media="(min-width:768px)" 
                            srcset="./img/tablet/t-work-together-icon.jpg 1x,
                            ./img/tablet/t-work-together-icon@2x.jpg 2x" 
                            type="image/jpg" />
                        <source media="(max-width:767px)" 
                            srcset="./img/mobil/m-work-together-icon.jpg 1x,
                            ./img/mobil/m-work-together-icon@2x.jpg 2x" 
                            type="image/jpg" />
                        <img class="work-together-logo-img" 
                            src="./img/mobil/m-work-together-icon.jpg" 
                            alt="Owner's portfolio photo" />
                    </picture>
                    Let’s <span class="span-highlight"> work </span>
                </span>
                <span>together</span>
            </span>
        </h2>
<!-- форма зв'язку -->
        <form class="work-together-subscribe">
            <ul class="work-together-list-in-form">
                <li class="work-together-item-of-form">
                    <div class="subscribe-label">
                        <!-- поле введення емейлу - примітивна перевірка на валідність, виключене автозаповнення -->
                        <input class="work-together-input-email" 
                        type="email" 
                        name="email" 
                        id="email"
                        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" 
                        placeholder="clients@gmail.com"
                        autocomplete="off"
                        required>
                        <label class="label-input-email" for="email"></label>
                    </div>
                    <div class="subscribe-label">
                        <!-- коментар про співпрацю, виключене автозаповнення -->
                    <input class="work-together-comments" 
                        name="comments" 
                        type="text"
                        id="comments" 
                        maxlength="200"
                        placeholder="comments"
                        autocomplete="off"
                        required>
                    <label class="label-input-comments" for="comments"></label>
                    </div>
                </li>
                <!-- кнопка відправити -->
                <li class="work-together-item-of-form">
                    <button class="work-together-btn" type="submit">Send</button>
                </li>
            </ul>
        </form>
<!-- контактні лінки - пошта і телефон -->
        <address class="work-together-contact">
            <ul class="work-together-menu">
                <li class="work-together-menu-link"><a class="work-together-link" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a></li>
                <li class="work-together-menu-link"><a class="work-together-link" href="tel:+3801111111111">+380 11 1111 11 11</a></li>
            </ul>
        </address>

        <!-- модальне вікно після відправки е-мейлу і коментаря -->
        <div class="work-together-backdrop
                        visually-hidden">
            <!-- хрестик який просить - закрий мене - кнопка-закривашка-->
            <button class="work-together-modal-close-x-btn" type="button">
                <svg class="work-together-modal-close-x-svg" width="22" height="22" aria-label="modal close button">
                    <use href="./icons/sprite.svg#x"></use>
                </svg>
            </button>
            <!-- заголовок модального вікна -->
            <h3 class="work-together-modal-head-text"></h3>
            <!-- текст модального вікна -->
            <p class="work-together-invitation"></p>
        </div>
        <!-- затемнялка фону за модальним вікном -->
        <div class="modal-backdrop-bg visually-hidden"></div>
    </div>
</section>
