.about-me-section {
  margin-top: 64px;
}

.about-me-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-me-bg-text {
  margin-bottom: 16px;
  padding: 32px 32px 272px 32px;
  width: 343px;
  height: 500px;
  border-radius: 24px;

  background-color: var(--dark-gray);
}

.about-me-text {
  font-size: 24px;
  font-weight: 500;
  line-height: calc(28 / 24);
  letter-spacing: -0.03em;
  text-align: left;
  text-transform: uppercase;

  color: var(--white);
}

.about-me-red {
  color: var(--red);
}

.about-me-grey {
  color: #fafafa66;
}

.about-me-foto {
  margin-bottom: 32px;
  border-radius: 24px;
}
/* ========================ACCORDION=============== */
.accordion-container-about .underline {
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid #fafafa66;
}

.underline:not(:last-child) {
  margin-bottom: 20px;
}

.underline:last-child {
  margin-bottom: 32px;
}

.accordion-container-about .ac {
  margin-top: 0;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  background-color: transparent;
}

.accordion-container-about .ac .ac-trigger {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 36px;
  height: 36px;

  border-radius: 50%;
  border: 1px solid #fafafa66;
}
.accordion-container-about > .ac .ac-trigger::after {
  display: none;
}

.accordion-container-about .ac .ac-trigger {
  padding: 0;
}

.is-active .about-me-svg {
  transform: rotate(180deg);
}

.about-me-svg {
  display: flex;
  justify-content: center;
  align-self: center;

  width: 18px;
  height: 18px;
}

.about-me-summary-title,
.about-me-expirience-title,
.about-me-education-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  font-size: 16px;
  font-weight: 600;
  line-height: calc(24 / 16);
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: uppercase;
  color: #fafafa66;
}

.about-me-summary-description {
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--white);
}

.about-me-summary-indent {
  margin-bottom: 32px;
}

.about-me-expirience-list-item,
.about-me-education-list-item {
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--white);
}

.about-me-expirience-list-item:not(:last-child),
.about-me-education-list-item:not(:last-child) {
  margin-bottom: 10px;
}

/* ======================SWIPER=================== */
.about-me-skills-wrapper {
  position: relative;
  margin-bottom: 64px;
}

.swiper-slide.active-slide {
  background-color: var(--red);
  border: none;
}

.about-me-skills-wrapper .swiper {
  margin-left: 0;
  margin-right: 0;
  width: 260px;
}

.about-me-skills {
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  letter-spacing: -0.02em;
  text-align: center;

  color: var(--white);
}

.about-me-skills > .about-me-skills-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #fafafa66;
}

.about-me-skills-item:first-child {
  background-color: var(--red);
}

#about-me-skills-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  width: 28px;
  height: 28px;
  border-color: transparent;
  color: transparent;
  text-align: center;

  background-color: transparent;
}

.swiper-button-next::after {
  display: none;
}

.about-me-skills-svg {
  width: 28px;
  height: 28px;
}

@media screen and (min-width: 768px) {
  .about-me-bg-text {
    padding: 64px 64px 436px 64px;
    width: 704px;
    height: 700px;
  }

  .about-me-text {
    font-size: 38px;
    line-height: calc(40 / 38);
  }

  /* ================ACCORDION================ */
  .underline {
    padding-bottom: 32px;
  }

  .underline:not(:last-child) {
    margin-bottom: 32px;
  }

  .underline:last-child {
    margin-bottom: 64px;
  }

  .about-me-button-up,
  .about-me-button-down {
    width: 40px;
    height: 40px;
  }

  .about-me-svg {
    width: 20px;
    height: 20px;
  }

  .about-me-summary-indent {
    margin-bottom: 16px;
  }

  /* ====================SWIPER============== */
  .about-me-skills-wrapper {
    margin-bottom: 96px;
  }

  .about-me-skills-wrapper .swiper {
    width: 600px;
  }

  .about-me-skills {
    font-size: 20px;
    line-height: calc(24.2 / 20);
  }

  .about-me-skills > .about-me-skills-item {
    width: 200px;
    height: 200px;
  }

  .about-me-skills-button {
    width: 40px;
    height: 40px;
  }

  .about-me-skills-svg {
    width: 40px;
    height: 40px;
    stroke: var(--medium-gray);
  }
}

@media screen and (min-width: 1440px) {
  .about-me-section {
    margin-top: 96px;
  }

  .flex-container {
    display: flex;
  }

  .about-me-bg-text {
    margin-right: 16px;
    margin-bottom: 0;
    padding: 64px 64px 436px 64px;
    width: 680px;
  }

  .about-me-foto {
    margin-bottom: 0;
    border-radius: 24px;
    height: 700px;
  }

  .underline:first-child {
    margin-top: 96px;
  }

  .underline:not(:last-child) {
    margin-bottom: 32px;
  }

  .underline:last-child {
    margin-bottom: 96px;
  }

  .about-me-outline {
    margin-left: 696px;
  }

  .about-me-summary-description {
    width: 612px;
  }

  .about-me-summary-indent {
    margin-bottom: 16px;
  }

  .about-me-education-list {
    width: 465px;
  }

  .about-me-education-list-item:first-child {
    width: 369px;
  }

  /* ======================SWIPER=================== */
  .about-me-skills-wrapper {
    margin-bottom: 96px;
  }

  .about-me-skills-wrapper .swiper {
    margin-left: 0;
    width: 1200px;
  }

  .about-me-skills {
    font-size: 20px;
    line-height: calc(24.2 / 20);
  }

  .about-me-skills > .about-me-skills-item {
    width: 200px;
    height: 200px;
  }
}
