.about-me-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-me-bg-text {
  margin-bottom: 16px;
  padding: 32px 32px 272px 32px;
  width: 343px;
  height: 500px;
  border-radius: 24px;

  background-color: #242527;
}

.about-me-text {
  font-size: 24px;
  font-weight: 500;
  line-height: calc(28 / 24);
  letter-spacing: -0.03em;
  text-align: left;
  text-transform: uppercase;

  color: #fafafa;
}

.about-me-red {
  color: #ed3b44;
}

.about-me-grey {
  color: #fafafa66;
}

.about-me-foto {
  margin-bottom: 32px;
  border-radius: 24px;
}

.underline {
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid #fafafa66;
}

.underline:not(:last-child) {
  margin-bottom: 20px;
}

.underline:last-child {
  margin-bottom: 32px;
}

.about-me-button-up,
.about-me-button-down {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: '';
  top: 0;
  right: 0;

  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #fafafa66;
  background-color: #1c1d20;
}

.about-me-button-down.is-hidden {
  display: none;
}

.about-me-svg {
  width: 18px;
  height: 18px;
}

.about-me-summary-title,
.about-me-expirience-title,
.about-me-education-title {
  margin-bottom: 24px;

  font-size: 16px;
  font-weight: 600;
  line-height: calc(24 / 16);
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: uppercase;
  color: #fafafa66;
}

.about-me-summary-text {
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  letter-spacing: -0.02em;
  text-align: left;
  color: #fafafa;
}

.about-me-summary-indent {
  margin-bottom: 32px;
}

.about-me-expirience-list-item,
.about-me-education-list-item {
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  letter-spacing: -0.02em;
  text-align: left;
  color: #fafafa;
}

.about-me-expirience-list-item:not(:last-child),
.about-me-education-list-item:not(:last-child) {
  margin-bottom: 10px;
}

.about-me-skills-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}

.about-me-skills {
  display: flex;
  flex-wrap: wrap;

  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  letter-spacing: -0.02em;
  text-align: center;

  color: #fafafa;
}

.about-me-skills-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #fafafa66;
}

.about-me-skills-item:first-child {
  background-color: #ed3b44;
}

.about-me-skills-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  width: 28px;
  height: 28px;
  border-color: transparent;
  text-align: center;
  background-color: #1c1d20;
}

.about-me-skills-svg {
  width: 28px;
  height: 28px;
  stroke: #3b3b3b;
}

@media screen and (min-width: 768px) {
  .about-me-bg-text {
    padding: 64px 64px 436px 64px;
    width: 704px;
  }

  .about-me-text {
    font-size: 38px;
    line-height: calc(40 / 38);
  }

  .underline {
    padding-bottom: 32px;
  }

  .underline:not(:last-child) {
    margin-bottom: 32px;
  }

  .underline:last-child {
    margin-bottom: 64px;
  }

  .about-me-button-up,
  .about-me-button-down {
    width: 40px;
    height: 40px;
  }

  .about-me-button-down.is-hidden {
    display: none;
  }

  .about-me-svg {
    width: 20px;
    height: 20px;
  }

  .about-me-summary-indent {
    margin-bottom: 16px;
  }

  .about-me-skills-wrapper {
    margin-bottom: 96px;
  }

  .about-me-skills {
    font-size: 20px;
    line-height: calc(24.2 / 20);
  }

  .about-me-skills-item {
    width: 200px;
    height: 200px;
  }

  /* разобраться с кнопкой */
  .about-me-skills-button {
    width: 40px;
    height: 40px;
  }

  .about-me-skills-svg {
    width: 40px;
    height: 40px;
    stroke: #3b3b3b;
  }
}

@media screen and (min-width: 1440px) {
  .flex-container {
    display: flex;
  }

  .about-me-bg-text {
    margin-right: 16px;
    margin-bottom: 0;
    padding: 64px 64px 436px 64px;
    width: 680px;
  }

  .about-me-foto {
    border-radius: 24px;
  }

  .underline {
    padding-bottom: 32px;
  }

  .underline:not(:last-child) {
    margin-bottom: 32px;
  }

  .underline:last-child {
    margin-bottom: 64px;
  }

  .about-me-button-down.is-hidden {
    display: none;
  }

  .about-me-outline {
    margin-left: 696px;
  }

  .about-me-summary-description {
    width: 612px;
  }

  .about-me-summary-indent {
    margin-bottom: 16px;
  }

  .about-me-education-list {
    width: 465px;
  }

  .about-me-education-list-item:first-child {
    width: 369px;
  }

  .about-me-skills-wrapper {
    margin-bottom: 96px;
  }

  .about-me-skills {
    font-size: 20px;
    line-height: calc(24.2 / 20);
  }

  .about-me-skills-item {
    width: 200px;
    height: 200px;
  }
}
