/* mobile styles */

.accordion-container-faq .ac {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(250, 250, 250, 0.20);
    border-top: 1px solid rgba(250, 250, 250, 0.20);
    margin: 0;
}

.accordion-container-faq .ac .ac-trigger {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #fafafa66;
    position: absolute;
}

.accordion-container-faq>.ac .ac-trigger::after {
    display: none;
}

.accordion-container-faq .ac .ac-trigger {
    padding: 0;
}

@media screen and (min-width: 320px) {

    .faq-section {
        margin-bottom: 64px;
    }

    .faq-title {
        color: rgba(250, 250, 250, 0.40);
        font-family: "Inter Tight";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        margin-bottom: 32px;
    }

    .faq-list-item {
        position: relative;
        border-bottom: 10px solid rgba(250, 250, 250, 0.20);
        border-top: 10px solid rgba(250, 250, 250, 0.20);
        min-height: 74px;
    }

    .faq-question {
        color: var(--white);
        font-family: "Inter Tight";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: -0.02em;
        display: inline-block;
        max-width: 265px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .faq-answer {
        color: rgba(250, 250, 250, 0.60);
        font-family: "Inter Tight";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: -0.02em;
        padding-bottom: 20px;
    }

    .faq-show-hidden-text-button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        content: '';
        top: 20px;
        right: 0;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 1px solid rgba(250, 250, 250, 0.50);
        background-color: transparent;
    }


    .arrow-up {
        transform: rotate(180deg);
    }

    .accordion-container-faq .ac .ac-trigger:hover {
        border-color: var(--white);
    }

    .accordion-container-faq .ac .ac-trigger:focus {
        border-color: var(--white);
    }
}

@media screen and (max-width: 350px) {

    .faq-question {
        width: 230px;
    }
}

/* /mobile styles */

/* tablet styles */

@media screen and (min-width: 768px) {

    .faq-section {
        margin-bottom: 96px;
    }

    .faq-question {
        max-width: 574px;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .faq-answer {
        padding-bottom: 24px;
    }

    .faq-show-hidden-text-button {
        top: 32px;
        width: 40px;
        height: 40px;
    }

}

/* /tablet styles */

/* Desctop styles */

@media screen and (min-width: 1440px) {

    .accordion-container-faq .ac {
        border: none;
    }

    .faq-section {
        margin-bottom: 164px;
    }

    .faq-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 64px;
        border-top: 1px solid rgba(250, 250, 250, 0.20);
        border-bottom: 1px solid rgba(250, 250, 250, 0.20);
    }

    .faq-answer {
        padding-bottom: 26px;
    }

    .faq-list-item {

        width: calc(50% - 32px);
        box-sizing: border-box;
        border: none;
        /* min-height: 104px; */
    }

    .faq-list-item:nth-child(odd)::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0px;
        right: -32px;
        width: 1px;
        background-color: rgba(250, 250, 250, 0.20);
    }

    .faq-list-item:nth-child(even)::after {
        content: "";
        position: absolute;
        left: -720px;
        right: 0;
        bottom: 0;
        height: 1px;
        background-color: rgba(250, 250, 250, 0.20);
    }
}