.header-section {
    transition: background-image 0.3s ease, height 0.3s ease;
}
header {
    height: 0px;
    padding-top: 32px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.header__container {
    display: flex;
    align-items: top;
    margin: 0 auto; 
    position: absolute;
}

.header__logo {
    display: flex;
    justify-content: start;
    align-items: start;
    position: relative;
    z-index: 2;
    transition: all .3s ease;
    margin-right: 159px;
}

.logo__image {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 18px;
    overflow: hidden;
}

.logo__image img {
    width: 100%;
}

.logo__text {
    margin-left: 10px;
    color: #fff;
}

.header__burger {
    display: flex;
    justify-content: space-between;
    align-items: top;
    position: relative;
    z-index: 3;
    width: 100%;
}

.borger {
    width: 30px;
    height: 20px;
    position: relative;
    padding: 5px;
}

.burger__item {
    position: absolute;
    background-color: #fff;
    border-radius: 50px;
    width: 20px;
    height: 2px;
    transition: all .3s ease;
}

.burger__item:nth-child(2) {
    top: 12px;
}

.header__container.open .burger__item:nth-child(1) {
    transform: rotateZ(-45deg);
    top: 8px;
}

.header__container.open .burger__item:nth-child(2) {
    transform: rotateZ(45deg);
    top: 8px;
}

.header__container.open .header__logo {
    opacity: 0;
}

.header__container.open .header__menu {
    opacity: 1;
}

.header__container.open .header__button {
    opacity: 1;
}

body.lock {
    overflow: hidden;
}

.navigation__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 65px 0;
    position: absolute;
    top: 0;
    left: 30px;
    z-index: 1;
    overflow: auto;
}


.header__menu,
.header__button {
    /* margin-top: auto; */
    opacity: 0;
    transition: all .5s ease;
}

.menu__title {
    display: none;
    color: #fff;
    transition: all .3s ease;
}

.menu__title:hover {
    color: #ED3B44;
}

.menu__list {
    text-align: center;
}

.list__item {
    list-style: none;
    margin-bottom: 15px;
}

.item__link {
    color: #fff;
    transition: all .3s ease;
}

.item__link:hover {
    color: #ED3B44;
}

.button-header {
    background-color: #ED3B44;
    border: none;
    border-radius: 60px;
    padding: 18px 50px;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease;
}

.button-header:hover {
    background-color: #E0373F;
}

@media (min-width: 376px) {
    header {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .header__container {
        max-width: 768px;
    }

    .header__burger {
        display: none;
    }

    .header__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .navigation__menu {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: row;
        padding: 0;
        position: relative;
        left: 0;
    }

    .header__menu,
    .header__button {
        margin-top: 0;
        margin-left: auto;
        opacity: 1;
        transition: all .3s ease;
    }

    .menu__title {
        display: block;
        margin-bottom: 20px;
    }

    .menu__list {
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all .3s ease;
    }

    .header__menu.open .menu__list {
        height: 100%;
        opacity: 1;
        overflow: auto;
    }
    .navigation__menu{
        height: 100hv;
    }
    .header__logo{
        margin-right: 45px;
    }
}

@media (min-width: 769px) {
    .header__container {
        max-width: 1440px;
    }

    .header__logo{
        margin-right: 45px;
    }
    
}
