@media screen and (min-width: 375px) {
    .header-section.scrolled {
        background: rgba(0,0,0,0.55);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    }
    .header-section.show{
        height: 164px;
    }
    .header-section{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        align-items: center;
        justify-content: center;
        z-index: 999;
        height: 144px;
    }

    .header{
        padding-top: 32px;
    }
    .header_logo_pic{
        border-radius: 18px;
        width: 80px;
        height: 80px;
    }
    .header__logo{
        display: flex;
        gap: 8px;
        cursor: pointer;
    }

    .logo__text{
        color: var(--white);
        font-family: "Inter Tight";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.02em;
    }
    .header-list{
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    .header-item2,
    .header-item3 {
        display: none;
    }

    .link-wt{
        width: 164px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 60px;
        background: var(--red);
        color: var(--white);
        font-family: "Inter Tight";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.02em;
        transition: background-color 0.3s ease-in-out;
    }
    .link-wt:focus,
    .link-wt:hover{
        background-color: var(--red-hover);
    }
    .mobile-menu-header{
        background-image: url('../img/mobil/bg/m-hero.png');
        background-position: top left;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        align-items: center;
        display: flex;
        justify-content: center;
        z-index: 9999;
        width: 100%;
        height: 100vh;
        transform: translateX(105%);
        transition: transform 0.5s ease-in-out;
    }
    @media screen and (min-resolution: 192dpi) and (min-width: 375px),
  screen and (min-resolution: 2dppx) and (min-width: 375px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 375px) {
    .mobile-menu-header {
        background-image: url('../img/mobil/bg/m-hero-menu@2x.png');
        background-position: top left;
        background-size: cover;
        background-repeat: no-repeat;
  }
}
    .mobile-menu-header.showMenu{
        transform: translateX(0);
    }
    .mobile-menu-header.closeMenu{
        transform: translateX(100%);
    }
    .close-btn-header{
        position: absolute;
        top: 32px;
        right: 16px;
    }
    .mobile-menu-header-list{
        position: absolute;
        top: 302px;

    }
    .link-wt{
        position: absolute;
        bottom: 64px;
    }
    .mobile-menu-item-link{
        color: var(--white);
        font-family: "Inter Tight";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.02em;
        text-decoration-line: underline;
        transition: color 0.3s ease-in-out;
    }
    .mobile-menu-item-link:hover,
    .mobile-menu-item-link:focus{
        color: var(--red);
    }
    .mobile-menu-header-list{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 12px;
    }
    
    
    
}

@media screen and (min-width: 768px) {
    .mobile-menu-header{
        display: none;
    }
    .header-item2,
    .header-item3 {
        display: block;
    }

    .header-item4{
        display: none;
    }

    .menu__title{
        color: var(--white);
        font-family: "Inter Tight";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.02em;
        text-decoration-line: underline;
        transition: color 0.3s ease-in-out;
        cursor: pointer;
    }
    .menu__title:hover,
    .menu__title:focus{
        color: var(--red);
    }

    .navigation-link{
        color: var(--white);
        font-family: "Inter Tight";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.02em;
        display: flex;
        width: 163px;
        height: 55px;
        align-items: center;
        justify-content: center;
        border-radius: 60px;
        background-color: var(--red);
        transition: background-color 0.3s ease-in-out;
    }
    .navigation-link:hover,
    .navigation-link:focus{
        background-color: var(--red-hover);
    }
    .menu__list{
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: center;
        width: 67px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        height: 91px;
    }
    .item__link{
        color: var(--white);
        font-family: "Inter Tight";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.02em;
        transition: color 0.3s ease-in-out;
    }
    .item__link:hover,
    .item__link:focus{
        color: var(--red);
    }

    .menu__list {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, opacity 0.3s ease;
    }
    
    .menu__list.show {
        overflow: visible;
        opacity: 1;
        height: auto;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 10px;
    }

    .nav-item{
        position: relative;
    }

    .header__menu{
        position: absolute;
        z-index: 99;
        top: 80px;
        left: -10px;   
    }
    
    
    
}