/*======= MOBILE STYLES HERO   ============*/
#hero-section {
  background: linear-gradient(
    270deg,
    #1c1d20 49.69%,
    #69292d 67.71%,
    #ed3b44 99.91%
  );
  background-image: url(../img/mobil/bg/m-hero-glass.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto;
}
@media screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppi) and (min-width: 320px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 320px) {
  #hero-section {
    background-image: url(../img/mobil/bg/m-hero-glass@2x.png);
  }
}
.hero {
  padding-top: 281px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 212px;
}

.main-title {
  width: 343px;
  font-size: 50px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  margin-left: auto;
  margin-right: auto;
}

.hero-contact {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}
.contact-icon {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-left: auto;
}
.social-icon {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fafafa;
  height: 37px;
  width: 37px;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.social-icon:hover {
  background-color: #69292d;
  box-shadow: 0 0 5px #69292d;
}
.hero-e-mail {
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #fafafa;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  text-align: center;
  padding: 10px 12px;
  height: 37px;
  width: 178px;
}
.hero-e-mail:hover {
  background-color: #69292d;
  box-shadow: 0 0 5px #69292d;
}

/*======= TABLET STYLES HERO   ============*/
@media screen and (min-width: 768px) {
  #hero-section {
    background-image: url(../img/tablet/bg/t-hero-glass.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto;
  }
  .hero {
    padding-top: 300px;
    gap: 187px;
  }
  .main-title {
    width: 632px;
    font-size: 90px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fafafa;
    margin-left: 0;
  }
  .hero-contact {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }
  .contact-icon {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-left: auto;
  }
  .social-icon {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #fafafa;
    height: 55px;
    width: 55px;
    border-radius: 60px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .hero-e-mail {
    font-size: 16px;
    padding-top: 18px;
    padding-bottom: 18px;
    height: 55px;
    width: 223px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppi) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  #hero-section {
    background-image: linear-gradient(
        270deg,
        #1c1d20 49.69%,
        #69292d 67.71%,
        #ed3b44 99.91%
      ),
      url(../img/tablet/bg/t-hero-glass@2x.png);
  }
}

/*======= DESCTOP STYLES HERO   ============*/
@media screen and (min-width: 1440px) {
  #hero-section {
    background-image: url(../img/desktop/bg/d-hero-glass.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto;
  }

  .hero {
    gap: 243px;
  }

  .main-title {
    width: 1084px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
  screen and (min-resolution: 2dppi) and (min-width: 1440px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
  #hero-section {
    background-image: linear-gradient(
        270deg,
        #1c1d20 49.69%,
        #69292d 67.71%,
        #ed3b44 99.91%
      ),
      url(../img/desktop/bg/d-hero-glass@2x.png);
  }
}
