
@media screen and (min-width: 375px){
    .projects-list{
        margin-bottom: 32px;
    }
    .btn-div{
        display: flex;
        align-items: center;
        justify-content: center;
        
        gap: 12px;
    }
    .projest-main-header{
        color: rgba(250, 250, 250, 0.40);
        font-family: "Inter Tight";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5; /* 150% */
        letter-spacing: -0.02em;
        text-transform: uppercase;
        margin-bottom: 32px;
    }
    .left-side{
        background-color: var(--white);
        padding: 32px;
        border-radius: 24px 24px 0 0;
    }
    .right-side{
        border-radius: 0 0 24px 24px;
        background-color: var(--dark-gray);
        padding: 100px 16px;
    }
    .tech-skills-list{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 6px;
        margin-bottom: 96px;
    }
    .tech-skill-item{
        background-color: transparent;
        display: flex;
        padding: 13px 18px;
        justify-content: center;
        align-items: center;
        border-radius: 60px;
        border: 1px solid rgba(28, 29, 32, 0.20);
        color: var(--black);
        font-family: "Inter Tight";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.02em;
        transition: border 0.5s ease, color 0.5s ease, background-color 0.5s ease;
    }
    .tech-skill-item:hover,
    .tech-skill-item:focus{
        border: 1px solid var(--red);
        background-color: var(--red);
        color: var(--white);
    }
    .projest-header{
        color: #1C1D20;
        font-family: "Inter Tight";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.16; /* 116.667% */
        letter-spacing: -0.03em;
        width: 279px;
        margin-bottom: 32px;
    }
    .project-link{
        display: inline-flex;
        padding: 13px 32px;
        justify-content: center;
        align-items: center;
        border-radius: 60px;
        background: var(--red);
        color: var(--white);
        font-family: "Inter Tight";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.02em;
        transition: background-color 0.3s ease;
        cursor: pointer;
    }
    .project-link:hover,
    .project-link:focus{
        background-color: var(--red-hover);
    }
    #btn-div-id{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        margin-top: 32px;
        margin-bottom: 64px;

    }
    #left-btn,
    #right-btn{
        display: block;
        padding: 14px;
        border: 1px solid rgba(250, 250, 250, 0.50);
        width: 52px;
        height: 52px;
        border-radius: 50%;
        color: transparent;
        position: relative;
        background-color: transparent;
        cursor: pointer;
    }
}

@media screen and (min-width: 768px){
    #btn-div-id{
        gap: 40px;
    }
    #left-btn,
    #right-btn{
        padding: 18px;
        width: 68px;
        height: 68px;
    }
    .projects-list{
        margin-bottom: 64px;
    }
    .btn-div{
        margin-bottom: 96px;
    }
    .left-side{
        padding: 64px;
    }
    .tech-skills-list{
        margin-bottom: 164px;
    }
    .projest-header{
        font-size: 44px;
        font-style: normal;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.02em;
        width: 494px;
    }
    .right-side{
        padding: 120px 45px;
    }
    .btn-div{
        gap: 12px;
    }
}
@media screen and (min-width: 1440px){
    #project-item-id,
    #project-item-id2,
    #project-item-id3{
        display: flex;
    }
    .btn-div{
        margin-bottom: 164px;
    }
    .project-item{
        display: flex;
    }
    .left-side{
        border-radius: 24px 0 0 24px;
        padding: 64px 130px 64px 64px;
    }
    .tech-skills-list{
        margin-bottom: 223px;
    }
    .projest-header{
        width: 494px;
    }

    .right-side{
        padding: 120px 37px;
        border-radius: 0 24px 24px 0;
    }
}