.not-found{
    text-align: center;
    font-family: "Inter Tight";
    font-weight: 600;
    font-size: 45px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #FAFAFA66;
    margin-bottom: 20px;
}
.reviews-section {
    padding-bottom: 64px;
    
}

.reviews-header {
    font-family: "Inter Tight";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #FAFAFA66;
    margin-bottom: 32px;
}
.reviews-head {
    
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: var(--white);
    margin-bottom: 8px;
}
.reviews-text {
    height: 120px;
    overflow-y: auto;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #FAFAFA99;
}
::-webkit-scrollbar {
    width: 5px;
    background-color:transparent;
  }
  ::-webkit-scrollbar-track {
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #888;
  }

.reviews-list {
   
    margin-bottom: 32px;
}

.reviews-item {
    border: 1px solid #FAFAFA33;
    padding: 32px 24px;
    border-radius: 20px;
    width: 343px;
}

.img-reviews {
    border-radius: 10px;
    margin-bottom: 32px;
}
.btn-div{
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 12px;
}
#btn-div-id2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 32px;
    margin-bottom: 64px;

}
#left-btn2,
#right-btn2{
    display: block;
    padding: 18px;
    border: 1px solid rgba(250, 250, 250, 0.50);
    width: 68px;
    height: 68px;
    border-radius: 50%;
    color: transparent;
    position: relative;
    background-color: transparent;
}

@media screen and (min-width: 768px) and (max-width: 1439px){
    .reviews-section {
        padding-bottom: 96px;
        
    }
    #btn-div-id2{
        gap: 40px;
    }
    .reviews-list {
    padding-left:  0;
    display: flex;
    flex-wrap: nowrap;
}
.btn-div{
    gap: 12px;
}
 .reviews-item {
    width: 344px;
}
  }
  @media screen and (min-width: 1440px)  {
    
    .reviews-section {
        padding-bottom: 164px;
        
    }

    .reviews-list {
        margin: 0 auto;
        display: flex;
        /* flex-wrap: nowrap; */
        /* justify-content: center; */
        align-items: center;
        margin-bottom: 32px;
        
    }

    .reviews-item {
    
        width: 332px;
    }
}
